* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: agdasima, sans-serif;
    color: white;
    
    
}

/* header and background image */
#scenic-header {
    width: 100%;
    height: 300px;
    border: 0px;
    margin-bottom: 0;
}

/* navigation */

nav {
    background-color: orange;
    width: 100%;
    height: 70px;
    padding-top: 0;
    border: 4px solid white;
    border-radius: 10px;

}

#logo {
    color: white;
    font-size: 55px;
    line-height: 60px;
    padding-left: 20px;
}

nav ul {
    float: right;
    margin-right: 20px;

}

nav ul li {
    display: inline;
    line-height: 50px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    padding-right: 20px;

}

a:hover {
    border-bottom: none;
}

/* about us section */
#man {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 75%;
    left: 10%;
    border-radius: 50%;
    border: 8px ridge orange;
    position:top;
}

#story {
    display: flex;
    padding-bottom: 200px;
 
}

.mission {
    padding-top: 200px;
    
}


.about-us {
    position: relative;
    padding: 125px;
    
    
}

.about-us h1 {
    text-align: center;
    font-size: 60px;
    color: orange;

}

.words {
    padding: 100px;
}

/* irelands peaks*/

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: -250px;
   
}

.flex-container>div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 125px;
    font-size: 0;

}

.places {
    color: orange;
    font-size: 40px;
        display: flex;
            align-items: center;
             text-align: center;
            margin-bottom: 300px;
              }
.places h1 {
border: 4px solid white;
    border-radius: 10px;
}

.ulster {
    background-image: url(../images/logo.jpg);
    background-size: cover;
    border: 2px solid white;
    border-radius: 10px;

}

.ben {
    background-image: url(../images/ben-nevis.jpg);
    background-size: cover;
    border: 2px solid white;
    border-radius: 10px;
}

.slieve {
    background-image: url(../images/sleeve.jpg);
    background-size: cover;
    border: 2px solid white;
    border-radius: 10px;
}

.croke {
    background-image: url(../images/croke.jpg);
    background-size: cover;
    border: 2px solid white;
    border-radius: 10px;
}

/*footer*/


.footer {
    background-color: orange;
    padding: 20px;
    color: #fff;
    text-align: center;
    border: 4px solid white;
    border-radius: 10px;
}

.mhg-social {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.mhg-social li {
    margin-right: 10px;

}

.mhg-social i {
    font-size: 300%;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: black;

}

/*gallery*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: wrap;
}

.gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border: 4px solid white;
    border-radius: 10px;

}

/*form css*/

#join {
    padding: 100px;
    margin: 0;
    width: 40%;
    text-align: left;
}

#join div {
    display: flex;
    flex-direction: column;
    color: orange;

}






/*media Queries 1010*/
@media screen and (max-width:1010px) {
    #story {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #man {
        display: none
    }

  nav {
        display: flex;
        flex-direction: column;
        align-items: center;
      
       
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        nav li {
            margin-bottom: 10px;
         
        }
    
        nav li a {
            display: block;
            
        }

 

 .flex-container {
        display: flex;
        flex-direction: column;
    
         }
 
    .gallery img {
        display: flex;
        flex-direction: column;
    }

}

