body {
    background-color: black;
    font-family: agdasima, sans-serif;
    color: white;
}

/* header and background image */
#scenic-header {
    width: 100%;
    height: 300px;
    border: 0;
}

/* navigation */

nav {
    background-color: rgb(255, 166, 0);
    width: 100%;
    height: 70px;
    padding-top: 0;
}

#logo {
    color: white;
    font-size: 55px;
    line-height: 60px;
    padding-left: 20px;
}

nav ul {
    float: right;
    margin-right: 20px;

}

nav ul li {
    display: inline;
    line-height: 50px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    padding-right: 20px;

}

a:hover {
    border-bottom: none;
}

/* about us section */

#man-hiking {
    padding-bottom: 200px;

}

#flag {
    width: 300px;
    height: 250px;
    position: absolute;
    top: 90%;
    right: 70%;
    border-radius: 50%;
}

.about-us {
    position: relative;
    padding: 125px
}

.about-us h1 {
    text-align: center;
    font-size: 60px;
    color: orange;

}

.words {
    padding: 100px;
}

/* irelands peaks*/
.flex-container {
    display: flex;
    
    justify-content: space-between;
    position: relative;
    top: -250px;
}

.flex-container>div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 100px;
    font-size: 0;

}

.places {
    color: orange;
    font-size: 35px;
    padding-left: 75px;
    display: flex;
    position: relative;
    top: -250px;
}

.ulster {
    background-image: url(../images/logo.jpg);
    background-size: cover;
}

.ben {
    background-image: url(../images/ben-nevis.jpg);
    background-size: cover;
    font-size: 20px;
}

.slieve {
    background-image: url(../images/sleeve.jpg);
    background-size: cover;
}

.croke {
    background-image: url(../images/croke.jpg);
    background-size: cover;
}

.my-table {
    width: 100%;
    border-collapse: collapse;
}

.my-table th,
.my-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.my-table thead {
    background-color: #f2f2f2;
    font-weight: bold;
}

.my-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/*footer*/
.footer {
    background-color: orange;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.mhg-social {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.mhg-social li {
    margin-right: 10px;

}

.social-link {
    color: #fff;
    font-size: 30px;
}

.social-link i {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    border-radius: 50%
}

